name: stats

on:
  workflow_dispatch:
    inputs:
      numChannels:
        description: 'Number of test channels'
        required: true
        default: '0'
      shuffle:
        description: 'Shuffle test channels'
        required: true
        default: 'false'

jobs:
  stats:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        provider: [kt, lg, sk, daum, naver, tving, wavve, spotv]
        python-version: ['3.8', '3.12']
    steps:
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Checkout
      uses: actions/checkout@v6
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[lxml]
        sudo apt-get install -y xmltv-util
    - name: Test ${{ matrix.provider }}
      run: |
        if [ "${{ matrix.provider }}" = "wavve" ]; then
          export HTTP_PROXY="${{ secrets.HTTP_PROXY }}"
        fi
        python -m tests.test_provider \
          ${{ matrix.provider }} \
          ${{ github.event.inputs.numChannels }} \
          ${{ github.event.inputs.shuffle }}
    - name: Upload Artifact
      uses: actions/upload-artifact@v5
      if: always()
      with:
        name: xmltv-${{ matrix.provider }}-py${{ matrix.python-version }}
        path: xmltv_${{ matrix.provider }}.xml
