name: test providers all

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        provider: [kt, lg, sk, daum, naver, tving, spotv]
        python-version: ['3.8', '3.12']
    steps:
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Display Python version
      run: python -c "import sys; print(sys.version)"
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[lxml]
        sudo apt-get install -y xmltv-util
    - name: Test ${{ matrix.provider }}
      run: |
        python -m tests.test_provider ${{ matrix.provider }}
    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      if: always()
      with:
        name: xmltv-${{ matrix.provider }}-py${{ matrix.python-version }}
        path: xmltv_${{ matrix.provider }}.xml
